---
layout: layouts/pagina.njk
permalink: /approfondimenti/
chiave: approfondimenti
titolo: Approfondimenti
titolo_seo: Approfondimenti sul sound design e la post-produzione audio | Riccardo Vojvoda
descrizione_seo: Risposte pratiche per chi produce video e vuole capire come si lavora sul suono. Consegna dei materiali, loudness, musica e diritti, voce, presa diretta, installazioni immersive.
occhiello: Guide pratiche
sottotitolo: "Risposte pratiche per chi produce video e vuole capire come si lavora sul suono: una domanda precisa, una risposta che si può usare subito. Un articolo nuovo ogni settimana."
tema: snow
tags: []
indice: true
filtri_articoli: true
---
{%- set lista = collections.approfondimenti %}
{%- if lista.length %}
{%- set l = "it" %}
{% include "parti/filtri.njk" %}
<ul class="elenco-approfondimenti elenco-approfondimenti-tutti" data-lista>
{%- for a in lista %}
<li data-chi="{{ (a.data.per_chi or []) | join(" ") }}" data-argomento="{{ (a.data.argomento or []) | join(" ") }}" data-testo="{{ (a.data.titolo + " " + (a.data.descrizione_seo or a.data.descrizione or "")) | lower }}"><a href="{{ a.url }}"><strong>{{ a.data.titolo }}</strong></a><br><span>{{ a.data.descrizione_seo or a.data.descrizione }}</span><br><small><time datetime="{{ a.date | dataIso }}">{{ a.date | dataLunga("it") }}</time></small></li>
{%- endfor %}
</ul>
{%- else %}
<p>I primi approfondimenti sono in preparazione. Nel frattempo, le <a href="/faq/">FAQ</a> rispondono alle domande più comuni.</p>
{%- endif %}
