---
layout: layouts/pagina.njk
permalink: /en/insights/
chiave: approfondimenti
titolo: Insights
titolo_seo: Insights on sound design and audio post-production | Riccardo Vojvoda
descrizione_seo: Practical answers for people who make video and want to understand how sound work is done. Deliverables, loudness, music and rights, voice, location sound, immersive installations.
occhiello: Practical guides
sottotitolo: "Practical answers for people who make video and want to understand how sound work is done: one precise question, one answer you can use right away."
tema: snow
tags: []
indice: true
filtri_articoli: true
---
{%- set lista = collections.approfondimenti_en %}
{%- if lista.length %}
{%- set l = "en" %}
{% include "parti/filtri.njk" %}
<ul class="elenco-approfondimenti elenco-approfondimenti-tutti" data-lista>
{%- for a in lista %}
{% include "parti/voce-articolo.njk" %}
{%- endfor %}
</ul>
{%- else %}
<p>The first insights are on their way. In the meantime, the <a href="/en/faq/">FAQ</a> answers the most common questions.</p>
{%- endif %}
