{% if not nascondiContatto %}
<section class="contatto" id="contatto" aria-labelledby="contatto-titolo">
  <div class="contenitore contatto-griglia">
    <div>
      <h2 id="contatto-titolo">{{ t.contatto.titolo }}</h2>
      <p>{{ t.contatto.testo }}</p>
      <p class="nota">{{ t.contatto.nota }} <a href="{{ t.url.faq }}">{{ t.contatto.faq }}</a>.</p>
    </div>
    <div class="contatto-dati">
      <a class="contatto-mail" href="mailto:{{ sito.email }}">{{ sito.email }}</a>
      <a class="contatto-tel" href="tel:{{ sito.telefonoHref }}">{{ sito.telefono }}</a>
      <a class="bottone" href="{{ sito.profiloPdf }}" download>{{ t.contatto.pdf }}</a>
    </div>
  </div>
</section>
{% endif %}
