---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for p in collections.all %}{% if not p.data.escludiDaSitemap and p.url and p.url.endsWith("/") %}
  {%- set alt = collections.all | traduzioni(p.data.chiave) %}
  <url><loc>{{ sito.url }}{{ p.url }}</loc><lastmod>{{ p.date | dataIso }}</lastmod>
  {%- for a in alt %}<xhtml:link rel="alternate" hreflang="{{ a.lang }}" href="{{ sito.url }}{{ a.url }}"/>{% endfor %}
  {%- if alt.length > 1 %}<xhtml:link rel="alternate" hreflang="x-default" href="{{ sito.url }}{{ alt[0].url }}"/>{% endif %}</url>
{%- endif %}{% endfor %}
</urlset>
